.player-info{
  background-color: black;
  color: white;
}

.shot-ratings {
  background-color: rgb(157, 190, 241);
}

.dunk-rim-rates {
  background-color: rgb(247, 122, 122);
}

.other-ratings {
  background-color: rgb(119, 250, 180);
}

.floor-locations {
  background-color: rgb(232, 152, 245);
}

.ball-actions {
  background-color: rgb(240, 189, 114);
}

.scout-system {
  background-color: black;
  color: $main-color;
}
