@import 'variables.scss';
@import 'header/header.scss';
@import 'footer/footer.scss';
@import 'home/home.scss';
@import 'prospectCard/prospectCard.scss';
@import 'sendScouts/sendScouts.scss';

h1 {
  text-align: center !important;
  font-family: Georgia, serif !important;
  color: $main-color !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

h3, h6 {
  text-align: center;
}

ul {
  list-style-type: circle;
  font-weight: bold;
}

body {
  padding-bottom: 50px;
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size: 1.2em;
}

.table th, tr, td {
  text-align: center;
}

.table{
  font-size: 12px;
}

.player-info{
  background-color: black;
  color: white;
}

.shot-ratings {
  background-color: rgb(157, 190, 241);
}

.dunk-rim-rates {
  background-color: rgb(247, 122, 122);
}

.other-ratings {
  background-color: rgb(119, 250, 180);
}

.floor-locations {
  background-color: rgb(232, 152, 245);
}

.ball-actions {
  background-color: rgb(240, 189, 114);
}
