@import 'variables.scss';
@import 'header/header.scss';
@import 'footer/footer.scss';
@import 'portfolio/portfolio.scss';
@import 'home/home.scss';
@import 'about/about.scss';
@import 'contact/contact.scss';

h1, h2, h3, h4, h5, h6 {
  text-align: center !important;
  font-family: Georgia, serif !important;
  color: $main-color !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

ul {
  list-style-type: circle;
  font-weight: bold;
}

body {
  padding-bottom: 50px;
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size: 1.2em;
}
