@import 'variables.scss';
@import 'header/header.scss';
@import 'footer/footer.scss';

@import 'about/about.scss';

h1 {
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

body {
  padding-bottom: 50px;
}

.welcome {
  color: $main-color;
}
