.selection {
  margin-bottom: 5px;
}

.btn {
  background-color: $main-color;
}

.saveScoutsBtn {
    margin: 0 auto;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
    border-radius: 3px;
    border: 2px solid black !important;
    font-weight: bolder;
}
