.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #20232a;

  .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: rgb(255, 168, 0) !important;
    font-weight: 500;
  }

  .nav-item {
    font-size: 14px;
  }

  .nav-item {
    color: #ededed;
  }
}
