.skillIcon img {
  height: 100px;
  width: 100px;
}

.name {
  color: $main-color;
}

.skills {
  text-align: center;
}

.skillRow {
  display: flex;
  justify-content: center;
}

.contactRow a {
  display: flex;
  justify-content: center;
}
