.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #20232a; }
  .navbar img {
    height: 100px; }
  .navbar .csl-search {
    height: 50px;
    width: 250px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #ffa800 !important;
    font-weight: 500; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-csl-search {
    border-color: #ffa800;
    color: #ffa800; }
    .navbar .btn-csl-search:hover, .navbar .btn-csl-search:focus, .navbar .btn-csl-search:active {
      background-color: transparent !important;
      border-color: #ffa800 !important;
      color: #ffa800 !important;
      box-shadow: none; }
  .navbar .nav-item {
    color: #ededed; }

.fab {
  color: #ffa800; }

#footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px !important;
  padding-top: 15px; }

#footer a {
  padding-left: 5px; }

.welcome {
  color: #ffa800; }

#logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 150px; }

#home-component-background {
  text-align: center; }

.player-info {
  background-color: black;
  color: white; }

.shot-ratings {
  background-color: #9dbef1; }

.dunk-rim-rates {
  background-color: #f77a7a; }

.other-ratings {
  background-color: #77fab4; }

.floor-locations {
  background-color: #e898f5; }

.ball-actions {
  background-color: #f0bd72; }

.floorAreasTable, .ballActionsTable {
  margin-top: 50px; }

.selection {
  margin-bottom: 5px; }

.btn {
  background-color: #ffa800; }

.saveScoutsBtn {
  margin: 0 auto;
  margin: -20px -50px;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  border: 2px solid black !important;
  font-weight: bolder; }

h1 {
  text-align: center !important;
  font-family: Georgia, serif !important;
  color: #ffa800 !important;
  font-weight: bold !important;
  text-decoration: underline !important; }

h3, h5, h6 {
  text-align: center; }

ul {
  list-style-type: circle;
  font-weight: bold; }

body {
  padding-bottom: 50px; }

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size: 1.2em; }

.table th, tr, td {
  text-align: center; }

.table {
  font-size: 12px; }
