.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #20232a; }
  .navbar img {
    height: 100px; }
  .navbar .csl-search {
    height: 50px;
    width: 250px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #ffa800 !important;
    font-weight: 500; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-csl-search {
    border-color: #ffa800;
    color: #ffa800; }
    .navbar .btn-csl-search:hover, .navbar .btn-csl-search:focus, .navbar .btn-csl-search:active {
      background-color: transparent !important;
      border-color: #ffa800 !important;
      color: #ffa800 !important;
      box-shadow: none; }
  .navbar .nav-item {
    color: #ededed; }

.fab {
  color: #ffa800; }

#footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px !important;
  padding-top: 15px; }

#footer a {
  padding-left: 5px; }

.welcome {
  color: #ffa800; }

#logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 150px; }

#home-component-background {
  text-align: center; }

.selection {
  margin-bottom: 10px; }

.btn {
  background-color: #ffa800; }

h1 {
  text-align: center !important;
  font-family: Georgia, serif !important;
  color: #ffa800 !important;
  font-weight: bold !important;
  text-decoration: underline !important; }

ul {
  list-style-type: circle;
  font-weight: bold; }

body {
  padding-bottom: 50px; }

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size: 1.2em; }

.table th, tr, td {
  text-align: center; }
